body {
  font-family: "Poppins", sans-serif;
  margin-bottom: 80px;
}
h1 {
  color: #6c63ff;
  font-size: 64px;
}
h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}
p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}
.hero {
  background-color: #f9f7fe;
  text-align: center;
  padding: 50px;
  line-height: 1.5;
}

.btn-my-style {
  background-color: #6c63ff;
  border-color: #6c63ff;
  color: #f9f7fe;
  box-shadow: #6c63ff;
}
.btn-my-style:hover {
  color: #6c63ff;
  background-color: #f9f7fe;
  border-color: #6c63ff;
  box-shadow: #6c63ff;
}
.hero a {
  margin: 20px;
}
.project-place {
  margin-bottom: 40px;
}

#contact {
  text-align: center;
  padding: 20px;
  display: block;
  margin: 0 auto;
}
.my-brand {
  font-weight: 900;
  border-style: solid;
  border-width: 2px;
  opacity: 90%;
  padding: 3px;
}
.see-all-projects {
  text-align: center;
  padding: 30px;
  display: block;
  margin: 0 auto;
  background-color: #f9f7fe;
  text-transform: uppercase;
}

.see-all-projects a {
  color: #6c63ff;
  background-color: #f9f7fe;
  border-color: #6c63ff;
  border: 3px;
  box-shadow: #6c63ff;
}
.see-all-projects a:hover {
  background-color: #6c63ff;
  border-color: #6c63ff;
  color: #f9f7fe;
  box-shadow: #6c63ff;
  opacity: 50%;
}

@media (max-width: 576px) {
  img {
    display: none;
  }
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 14px;
  }
  .hero {
    padding: 20px;
  }
}
